@{
    ViewBag.Title = "Achievment System";
}
    <p>За период выдано @(ViewBag.EducatorAchieveCount + ViewBag.ChildAchieveCount) ачивок</p>
    <p>Воспитатель получил @ViewBag.EducatorAchieveCount ачивок и номинирован на @ViewBag.EducatorStatus </p>
    <p>Ребёнок получил @ViewBag.ChildAchieveCount ачивок. </p>