@{
    ViewBag.Title = "Achievment System";
}
    <p>За период выдано @ViewBag.Period ачивок</p>
    <p>Воспитатель получил @ViewBag.EducatorAchieve ачивок и номинирован на @ViewBag.EducatorStat </p>
    <p>Ребёнок получил @ViewBag.ChildAchieve ачивок. </p>